<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href='#sessions-list'>Sessions</a></li>
                <li><a href='#speakers-list'>Présentateurs</a></li>
                <li><a href="#">A propos du téléphone</a></li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="text-center">
        <img src="https://pbs.twimg.com/profile_images/849968541721919488/r-DI0V2a.jpg" alt="logo">
    </div>
</header>

<div class="container">
    <section class="text-center" id="main-view">
        <h1>Conférence</h1>
        <p>19 oct. 2017 – 23 oct. 2017</p>
        <hr>
        <a class="btn btn-primary" href="#sessions-list" role="button">Voir les sessions</a>
        <a class="btn btn-primary" href="#speakers-list" role="button">Voir les présentateurs</a>
        
    </section>
</div>

<footer>Ici bientôt un pied de page</footer>
